<!-- ʕ•́ᴥ•̀ʔっ -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Enigma Machine</title>
  <!-- CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
  <div class="keyboard-background">
    <!-- Rotor Settings -->
    <section class="rotor-settings">
      {% for rotor in range(1, 4) %}
      <div class="rotor">
        <h3>Rotor {{ rotor }}</h3>
        <div class="rotor-container">
          <button class="rotor-button up" data-rotor="{{ rotor }}">▲</button>
          <div class="rotor-letter" id="rotor{{ rotor }}">A</div>
          <button class="rotor-button down" data-rotor="{{ rotor }}">▼</button>
        </div>
      </div>
      {% endfor %}
    </section>

    <!-- Keyboard Section -->
    <section class="keyboard-section">

      <div class="keyboard-container">
        {% for row in ["QWERTYUIOP", "ASDFGHJKL", "ZXCVBNM"] %}
        <div class="row">
          {% for letter in row %}
          <button class="key" aria-label="Tecla {{ letter }}">{{ letter }}</button>
          {% endfor %}
        </div>
        {% endfor %}
      </div>

        <!-- Plugboard Section -->
      <div class="plugboard-section">
        <div class="plugboard">
          <!-- First row of letters -->
          <div class="plug-row">
            {% for letter in "ABCDEFGHIJKLM" %}
            <div class="plug" id="plug-{{ letter }}">
              <div class="plug-letter">{{ letter }}</div>
              <div class="plug-socket" data-letter="{{ letter }}"></div>
            </div>
            {% endfor %}
          </div>

          <!-- Second row of letters -->
          <div class="plug-row">
            {% for letter in "NOPQRSTUVWXYZ" %}
            <div class="plug" id="plug-{{ letter }}">
              <div class="plug-letter">{{ letter }}</div>
              <div class="plug-socket" data-letter="{{ letter }}"></div>
            </div>
            {% endfor %}
          </div>
        </div>
        <canvas id="plugboard-canvas"></canvas>
      </div>
    </section>

    <!-- Control buttons -->
    <div class="button-container">
      <button id="save">Guardar</button>
      <button id="reset">Reiniciar</button>
      <button id="delete">Eliminar</button>
    </div>
    
    <!-- Selected and encrypted text -->
    <div class="output-wrapper">
      <div id="output-container">
        <h2>Texto seleccionado:</h2>
        <p id="original-output"></p>
      </div>
      <div class="side-square">
        <h2>Texto cifrado:</h2>
        <p id="encrypted-output"></p>
      </div>
    </div>
    
  </div>
  <!-- JS Scripts -->
  <script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script> 
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>